.InfoWindow {
  text-align: left;
  padding-top: 0.5em;
  padding-bottom: 0;
}


.InfoWindow-image {
  width: 2em;
  height: 1.2em;
}


.InfoWindow span {
  font-size: 1.1em;
  font-weight: bolder;
}

.InfoWindow .fa {
  color: blue
}

.InfoWindow-description {
  font-size: 0.8em;
}


h1, p {
  font-family: Lato;
}

.gm-style .gm-style-iw-d {
     overflow: hidden; 
}

.gm-style .gm-style-iw-c {
    position: absolute;
    box-sizing: border-box;
    overflow: hidden;
    top: 0;
    left: 0;
    transform: translate(-50%,-100%);
    background-color: white;
    border-radius: 10px;
    padding-top: 0px;
    box-shadow: 0 2px 7px 1px rgba(0,0,0,0.3);
    width: 13rem;
    max-height: fit-content;}


