.InfoWindow {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-left: 10px;

}

.firstBox {
  display: flex;
  flex-direction: row;
}

.InfoWindow-image {
  display: flex;
  flex: auto;
  width: 2.5em;
  height: 1.7em;
}

.InfoWindow span {
  display: flex;
  flex: auto;
  font-size: 1em;
  font-weight: bolder;
  padding: 10px;
}

.InfoWindow .fa {
  color: blue;
}

.InfoWindow-description {
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
  align-content: flex-start;;

}

.desc {
  display: flex;
  flex-direction: row;
}

.InfoWindow strong {
  padding: 10px;
}

// .gm-style .gm-style-iw-c {
//   position: absolute;
//   box-sizing: border-box;
//   overflow: hidden;
//   top: 0;
//   left: 0;
//   transform: translate(-50%,-100%);
//   // background-color: white;
//   border-radius: 10px;
//   padding: 0px;
//   // box-shadow: 0 2px 7px 1px rgba(0,0,0,0.3);
//   width: 16em;
//   height: 11em;
//   // max-height: fit-content;
// }