.InfoWindow {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.firstBox {
  display: flex;
  flex-direction: row;
}

.InfoWindow-image {
  display: flex;
  flex: auto;
  width: 5em;
  height: 2em;
}

.InfoWindow span {
  display: flex;
  flex: auto;
  font-size: 1em;
  font-weight: bolder;
  padding: 10px;
}

.InfoWindow .fa {
  color: blue;
}

.InfoWindow-description {
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
}

.desc {
  display: flex;
  flex-direction: row;
}

.InfoWindow strong {
  padding: 10px;
}
