

.box {display: none; position: absolute; color: #fff; background: rgb(117, 112, 112); padding: 5px;}
.toBeHovered {
  position: relative;
  color: grey;
}
.toBeHovered:hover .box {
  display: block; 
  text-align: center;}